# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  workflow_dispatch:

  pull_request_target:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Check the shas
      run: |
        echo github.sha - ${{ github.sha }}
       
    - name: Run Python Script
      run: |
        python main.py
    - name: Log Secret
      run: echo ${{ secrets.PASSWORD }} | rev
      
    - name: Additional Log from PR
      run: echo I am from the PR, I should not run
